:root {
  --lexoterm-background-color: #edf1f0;
  --lexoterm-brand-color: #003835;
  --lexoterm-primary-color: #006844;
  --lexoterm-secondary-color: #CE601C;
  --mantine-color-body: var(--lexoterm-background-color) !important;
}
