.letter-button
  height: 1.2rem
  width: 1.2rem
  color: var(--mantine-text-color)
  font-weight: normal !important
  border-color: var(--lexoterm-primary-color)

  &:hover
    color: var(--mantine-text-color)

  &.active
    background-color: var(--lexoterm-primary-color)
    color: white

a.keyword-link
  font-weight: 600
  &:hover
    text-decoration: underline !important
