.lemma-list-item
  border-left: 2px solid transparent

  &.active, &:hover
    border-left: 2px solid var(--lexoterm-primary-color)

.lemma-list-item
  .mantine-List-itemWrapper,
  .mantine-List-itemLabel,
  button
    width: 100% !important
