.lemmalink {
  text-decoration: none;
  display: flex;
  &:hover {
    text-decoration: none;
  }
}

.result-item > ul {
  padding-left: 1.5em !important;
  ul {
    margin-bottom: 0 !important;
  }
  li + li {
    margin-top: 0.5rem !important;
  }
}

.variants {
  font-style: italic;
}
