.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 200;
  font-size: var(--mantine-font-size-md);

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }

  &.active {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.4em;
  }
}

:root {
  --lexoterm-background-color: #b7c8c140;
  --lexoterm-primary-color: #003835;
}

main {
  background-color: var(--lexoterm-background-color);
}
